# Zbiór konfiguracyjny - Sterowanie prądami kwadrupoli w linii pionowej

Port szeregowy: /dev/ttyS5
#Port szeregowy: /dev/ttyUSB0

Tytuł kanału 1: Kwadrupol górny
Tytuł kanału 2:   Kwadrupol dolny

# Limity czasu reakcji
Limit czasu włączania:   8000
Limit czasu wyłączania: 15000
Limit czasu ustawiania:  2000

Wartość maksymalna prądu w kanale 1: 8A
Wartość minimalna prądu w kanale 1: -8A

Wartość maksymalna prądu w kanale 2: 9A
Wartość minimalna prądu w kanale 2: -9A

