# Zbiór konfiguracyjny - Sterowanie prądami kwadrupoli w linii pionowej

Port szeregowy: /dev/ttyS5
#Port szeregowy: /dev/ttyUSB0

Tytuł kanału 1: Kwadrupol górny
Tytuł kanału 2: Kwadrupol dolny

Maksymalna wartość zadana prądu w kanale 1: 8A
Minimalna wartość zadana prądu w kanale 1: -8A

Maksymalna wartość zadana prądu w kanale 2: 9A
Minimalna wartość zadana prądu w kanale 2: -9A

# Zapamiętane zestawy wartości prądów
I1= 5A; I2=5.3A; Nazwa= Abcd
I1=-8.5A; I2=0.3A; Nazwa= Efgh
I1=-0.5A; I2=-4.2A; Nazwa= Ijkl mnop qrst

# Limity czasu reakcji
Limit czasu włączania:   8000
Limit czasu wyłączania: 15000
Limit czasu ustawiania:  2000


